[2018-07-29 23:19] suprafun opened #1 "License ?"
Hello, under what license is this project released under ? Thank-you.

[2018-07-30 08:29] mre commented on #1
Ah well, forgot that. Thanks for the notification.
I've dual-licensed it now with Apache and MIT license. Hope that helps. 😄

[2018-07-30 08:29] #1 closed

[2018-10-27 12:33] mre opened #2 "Add wasm-pack configuration"
[wasm-pack](https://github.com/rustwasm/wasm-pack) is a way to compile Rust to WebAssembly.
Would be nice to use it for this project, because we could automate the (currently manual) build process.

[Here](https://github.com/rustwasm/wasm-pack#-quickstart-guide) are some instructions on how to get started.

[2018-10-27 12:35] mre opened #3 "Add Travis config"
Would be great to build the project on every new commit / pull request.
For that, we could add a Travis configuration.

[2018-10-27 12:40] mre opened #4 "Split file loading and index generation"
File handling and index generation are cobbled together at the moment in the `generate()` method:
https://github.com/mre/tinysearch/blob/master/src/main.rs#L58-L77

Would be better if we iterated over all files outside of `generate()`, probably here:
https://github.com/mre/tinysearch/blob/master/src/main.rs#L34.

This way, we could later parallelize the corpus generation using [rayon](https://gith

[2018-10-27 13:10] schalkneethling commented on #3
@mre Hey there, I would like to take this one. I am guessing that you want to run the default Rust build script on PR/commit i.e. `cargo build`

Is there a specific version of Rust you want to target? Perhaps simply `release`?
Do you also want to run `cargo test`?

[2018-10-27 15:50] mre commented on #3
Hey @schalkneethling,
yeah I think a setup like this would be a good start: https://github.com/mre/mos6502/pull/4/files
This runs `cargo build` and `cargo test`. You might also want to add a badge to the `README.md` if you can. Once we got this up and running, we might wanna think about adding support for wasm-pack to Travis, as described in #2.

[2018-10-27 16:41] schalkneethling commented on #3
Sounds good @mre - on it.

[2018-10-28 22:07] mre commented on #4
Fixed by #5

[2018-10-28 22:07] #4 closed

[2018-10-28 22:08] mre commented on #3
Fixed by @schalkneethling in #6. 🎉

[2018-10-28 22:08] #3 closed

[2018-10-28 22:11] mre opened #7 "Parallelize corpus indexation using rayon"
tinysearch is already quite fast when indexing the posts of my homepage. Doesn't mean we can't make it even faster! That would help with indexing bigger corpa.

The idea is to use [rayon](https://github.com/rayon-rs/rayon) for that, which provides out-of-the-box parallelization by using `par_iter()` instead of `iter()` on the input files.

[2019-03-11 09:33] mre commented on #2
Fixed with #9.

[2019-03-11 09:33] #2 closed

[2019-04-29 08:50] mre commented on #7
This is outdated, since we moved the responsibility for index creation to the static site generators.

[2019-04-29 08:50] #7 closed

[2019-04-29 08:54] mre opened #10 "Provide example usage for other static site generatos"
We need to add some usage examples for

* [ ] Jekyll
* [x] Hugo
* [ ] Cobalt

For the most part, this means showing how to create an `index.json` as shown in `/fixtures/index.json` from this repo.

For example, I'm using the following template file for [zola](https://www.getzola.org/):

[code]

If someone wants to tackle this, feel free to add a comment here so that others know you're working on t

[2019-04-30 08:41] mre commented on #10
Jekyll example: https://learn.cloudcannon.com/jekyll/output-json/

[2019-10-17 08:11] mre opened #11 "Call for maintainers"
I've mostly built tinysearch for my own private website and I'm not planning to actively maintain it in the future. If someone would like to take over from here, please leave a comment.

Maintenance entails:

* Responding to new issues.
* Keeping the dependencies up-to-date.
* Optionally adding new features in the future.

If you're unsure, feel free to ask here. 😊

[2019-10-17 18:37] mre opened #12 "Improve compile times"
At the moment, it takes ages to generate the Wasm binary.
That's because we download an entire crate and compile it whenever we run `tinysearch corpus.json`. Maybe anyone has an idea on how to improve that?

[2019-10-18 12:50] CephalonRho commented on #12
Hey, I made a pull request to address this issue. (https://github.com/mre/tinysearch/pull/13)
The idea is to keep the intermediate build artifacts in $PWD/tinysearch_build instead of leaving them in the temporary download directory, allowing cargo to find them on subsequent builds.
There is still room for improvement as the download could be cached too, but the wasm-pack build time should be almos

[2019-10-18 13:32] mre opened #14 "Move to Github Actions"
Provide a basic Github Action CI pipeline that replaces Travis.

[2019-10-18 13:33] mre opened #15 "Make installation easier"
Would be great if we could make installation work without `cargo`.
Distributions, roughly ordered by complexity:

* [x] [binary releases](https://github.com/mre/tinysearch/releases) on Github
* [ ] homebrew formula
* [ ] npm package

Feel free to pick any task from the list.

[2019-10-18 13:48] mre commented on #12
That was fast. Thanks for the fix. The results are quite astonishing (1m17s to 6s).
I'll keep this open for further improvements, but we're off to a great start.

[2019-10-19 19:48] okrplay commented on #14
I'd like to pick this up, if possible. 👍

[2019-10-20 11:24] mre commented on #14
Closed by the work of @okrplay. Thanks!

[2019-10-20 11:24] #14 closed

[2019-10-22 14:37] mre opened #19 "Track `wasm` module size for changes"
We could need some automated check for the size of the `wasm` file for every change.
It would report the size of the wasm file that gets generated when we call `target/release/tinysearch --optimize fixtures/index.json` for every pull request.

We could write a Github action for that, similar to [ember-asset-size-action](https://github.com/simplabs/ember-asset-size-action), which measures the size

[2020-01-31 23:28] mre opened #64 "Try Xor filter instead of Cuckoo filter"
For some use-cases, Xor filters are supposed to be [faster and smaller than Bloom and Cuckoo filters](https://arxiv.org/abs/1912.08258).
Recently, support for strings was added to the xorfilter Rust crate:
https://github.com/bnclabs/xorfilter/blob/master/tests/xorfilter.rs#L56
We should test that to see if they make our wasm binary smaller.

If someone wants to give this a shot, please write a sho

[2020-01-31 23:29] mre commented on #12
Two more ideas:
* [ ] Remove unused dependencies with [cargo-udeps](https://github.com/est31/cargo-udeps)
* [ ] Evaluate [miniserde](https://github.com/dtolnay/miniserde) for serialization.

[2020-02-10 14:21] mre opened #69 "Bundle engine with tinysearch cli"
At the moment, we download the engine from crates.io whenever we build a wasm module.

This worked as an initial proof-of-concept, but it is not ideal for a few reasons:

* Network access is required. This might cause slow and flaky builds.
* The download from crates.io is quite fragile and relies on an internal API. The downloader code is quite hacky and and contains a few `unwrap()`s.
* Whenever

[2020-02-10 14:22] mre commented on #15
Superseded by #69.

[2020-02-10 14:24] mre commented on #11
Due to popular demand, I'll keep maintaining this crate for a little longer.
Doesn't mean that you can't approach me to collaborate, though.
Will close this to keep the issue tracker clean, but just post a comment here if you're interested.

[2020-02-10 14:24] #11 closed

[2020-02-21 00:49] mre commented on #69
See #72

[2020-03-17 21:09] #69 closed

[2020-05-01 05:26] kanishkarj opened #90 "Question"
Hey @mre !

An interesting project! I'm working on a related effort in a CNCF special interest group and would love to exchange notes. The Layer5 open source community has a growing focus on WASM / Rust. I welcome you to join - http://slack.layer5.io. You might find use in some of the ongoing initiatives in the community. Ping me when you do - @kanishkarj !

[2020-05-21 23:38] github-actions[bot] opened #102 "RUSTSEC-2018-0017: `tempdir` crate has been deprecated; use `tempfile` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `tempdir`                      |
| Version             | `0.3.7`                   |
| URL                 | [https://github.com/rust-lang-deprecated/tempdir/pull/46](https://g

[2020-05-29 10:14] mre commented on #90
Cool. Just sent you message over on Slack. Guess we can close this for now and maybe reopen in the future if we want to document anything from the Slack conversation. Thanks for getting in touch!

[2020-05-29 10:14] #90 closed

[2020-05-29 10:15] mre commented on #102
This is a good first issue if someone wants to contribute and learn a thing or two about Rust.

[2020-06-11 00:34] mre commented on #10
Thanks @Lusitaniae,
added your tutorial at https://github.com/mre/tinysearch/blob/master/howto/hugo.md.

[2020-06-11 00:47] mre commented on #10
Anyone wants to tackle Jenkins or Pelican?

[2020-06-11 19:29] Lusitaniae opened #111 "Error: NotEnoughSpace"
Error
[code]

Index file
[code]

strace results
[code]

[2020-06-11 21:25] mre commented on #111
Thanks for the report. I can see that your `index.json` is quite large (6.5m). I've never experimented with such a big index.
Can you try playing with the capacity in the Cuckoofilter here?
https://github.com/mre/tinysearch/blob/6764fbec789b236abf1fba6ca8581cb8e3abcbe8/bin/src/storage.rs#L68
I'm curious how big the magic constant (that we should eventually remove) has to be to fit your index in.

[2020-06-11 21:44] #102 closed

[2020-06-12 04:48] Lusitaniae commented on #111
ah, I was wondering I was getting that error, both in my local and the CI building.

I wanted to see how it was gonna work with such big index (9k items), but I was probably gonna remove body content anyway.

Will test and get back to you

[2020-06-12 06:45] notpushkin commented on #15
Now that #69 is fixed, is there any chance to make a binary release? Or is there some other obstacle?

P. S. thanks for such a neat project!

[2020-06-12 13:22] fluential commented on #111
I am actually just experimenting with same issue, thanks for the heads up

[2020-06-12 21:36] mre commented on #15
Oh yeah, absolutely. I don't think there should be any other obstacles.
We did something similar for hyperjson once. Here's the code:
https://github.com/mre/hyperjson/blob/master/.github/workflows/ci.yml#L161-L167

Wanna take that one @notpushkin?

[2020-06-12 22:05] mre commented on #111
Can you tell me how big the `wasm` file was in your case?

[2020-06-13 05:45] fluential commented on #111
@mre 279014 bytes

[2020-06-13 09:43] mre commented on #111
Okay thanks for the info. That sounds quite reasonable to me. Could you check the gzipped version as well if you don't mind? 😅

[2020-06-13 09:58] fluential commented on #111
@mre you mean ?

[code]

[2020-06-13 14:35] mre commented on #111
Precisely @fluential. Thanks!

[2020-06-13 14:40] mre commented on #15
Reopening this

[2020-06-14 11:01] fluential commented on #111
@mre Actually I've checked and for nginx to serve gzipped wasm requires extra config for mime types
```echo 'application/wasm                      wasm;' >> /etc/nginx/mime.types```
and adding to ```gzip_types```

via https://rustwasm.github.io/book/reference/deploying-to-production.html

[2020-06-15 18:09] kvz commented on #111
This is happening for me too when I try to run:

[code]

I just freshly installed TinySearch after reading about it on HN. Love the idea :) But I'm just kicking the tires and not in the stage of serving out wasm yet or anything so seems unrelated to what was discussed above maybe?

[2020-06-15 18:12] kvz commented on #111
I was planning on going a little bigger than 820K, would you say TinySearch isn't the right tool for this type of job?

[2020-06-15 19:22] mre commented on #111
I think you should try. Can you tweak the constant as described above to see what you have to set it to until it works? I'll try to fix that proper but it would help me a lot to get some more data points. :)
And thanks for testing out tinysearch in the first place.

[2020-06-15 19:27] kvz commented on #111
Sorry, never touched rust before so this may take a sizable chunk of time to get a dev env set up :)

Sent from mobile, pardon the brevity.

[2020-06-15 20:07] fluential commented on #111
@kvz well you could just run a docker image https://github.com/fluential/docker-tinysearch

[2020-06-16 09:17] kvz commented on #111
Unsure how I would change this line

[2020-06-16 09:29] kvz commented on #111
Tried this:

- fork your project,
- `cd ~/code`
- `git clone git@github.com:kvz/tinysearch.git`
- `cd tinysearch`
- change line 68 in `storage.rs` from `+ 10` -> `+ 12`
- `cargo run /home/kvz/code/content/_site/tinysearch.json`

Got:

[code]

Clearly I have no idea what I'm doing

[2020-06-16 10:28] fluential commented on #111
@kvz so if you clone repo, modify the value you can build tinysearch with custom repo url/branch like this
via https://github.com/fluential/docker-tinysearch/blob/master/Dockerfile
[code]

[2020-06-16 11:43] kvz commented on #111
Tried a few things that way, no dice yet:

[code]

[2020-06-16 11:47] kvz commented on #111
Happy to try some more things, but also wondering if making that value `10` configurable would be a more efficient way to obtain datapoints vs trying to make me successfully compile a rust project :)

[2020-06-16 12:07] fluential commented on #111
@kvz oops, sorry my bad, please clone the upstream again again and it will build your binary

[2020-06-16 14:15] kvz commented on #111
That worked :tada: i tried it with `12` in this case. Still need to integrate and see if i can actually search but there were no errors, and files were produced

[2020-06-16 14:17] kvz commented on #111
Hm.. So these files were generated:

[code]

But not a demo.html so that i could access http://0.0.0.0:8000/demo.html as explained in the README

[2020-06-17 13:03] mre commented on #111
Just tested on my machine and it creates the `demo.html` in the root folder. Odd. 🤔 Maybe others can double-check.

Actually I think the magic number is a bug. This shouldn't be happening and we should fix that. Will keep that issue open so that we can work on it and add a `bug` label.

[2020-06-17 19:40] fluential commented on #111
@kvz works for me as well, try this one https://github.com/tinysearch/tinysearch/blob/70c22f70a0377f83becd0c2c3bca42a00fbc2289/Dockerfile
then
``` docker run $PWD:/tmp tinysearch/cli index.json```

[2020-06-19 13:49] Lusitaniae commented on #111
Thanks for the great work @fluential

Was able to build a search index using magic number 64, end result is

[code]

This is including all the content, could cut it down if I used the title only.

Probably good enough for me as I'm building media heavy website.

[2020-06-19 16:44] mre commented on #111
I want to test what happens with my index size if I set the magic number to 64. If it doesn't blow up the wasm size to much, we can make this the new default while we work on a better solution. I still would like to give XOR filters a try; my hope is that they'll produce even smaller output.
Kudos for getting it working @Lusitaniae and @fluential. If any of you adds tinysearch to their site, pleas

[2020-06-24 06:03] Lusitaniae opened #116 "Roadmap"
Any plans on adding new features?

E.g. adding new fields (like product image),
make body field optional,
adding search filters (e.g. size between/less/bigger than),
booleans (has feature X: yes/no)
or this point in the readme "Only searches for entire words. There are no search suggestions (yet)."

I have no experience building search engines so not really aware what is easy or good idea to build

[2020-06-24 09:12] mre commented on #12
Have to try https://endler.dev/2020/rust-compile-times/

[2020-06-24 09:58] mre commented on #116
Just started creating a roadmap [here](https://github.com/tinysearch/tinysearch/projects/1) thanks to your suggestion.
About your points:

Not against that, but bundling images into a wasm blob will increase the file-size. If it's just a link to an image, that can be  done in the body. tinysearch only uses the body as a corpus of information to match an entry, so it's possible to do that.
But yeah

[2020-06-24 10:09] Lusitaniae opened #117 "Make body field optional"
Some bigger websites may have high number of pages to index.

Making the body field optional would make the index more manageable and performant at a bigger scale.

[2020-06-24 10:13] Lusitaniae commented on #116
Thanks for the feedback, this is also new to me, so just thinking out loud.

1. new field: image - this is for displaying results in the frontend, we would only need an url for this.

2. New PR: https://github.com/tinysearch/tinysearch/issues/117

3. Lets say I have a shop and I want to select products at least 1 meter wide, or between 1 meter and 2 meter, or over 2 meter.
As mentioned I was think

[2020-06-24 12:19] mre commented on #116
Great!

1. We could eventually support a `tinysearch.toml`, which would allow for that sort of customization. Would think about that after 1.0, which is a little down the road I'm afraid. I'll keep a mental note, though.
2. Thanks!
3. Yeah that would be outside the scope. One could think about a filter system built in wasm as a separate product, though. Or maybe there will be plugin support eventu

[2020-06-24 12:23] mre opened #118 "Try fst to support fuzzy search"
https://github.com/BurntSushi/fst
https://blog.burntsushi.net/transducers/#common-crawl

Expect that this blows up the index size significantly, but it might be an alternative backend that could be enabled with a feature flag, e.g. `tinysearch --engine=fst` or so.
@BurntSushi, do you think that a corpus like that would compress nicely with fst? https://github.com/tinysearch/tinysearch/blob/master/

[2020-06-24 12:52] BurntSushi commented on #118
Not sure I know how to answer that without more details on how you're building the index. "fuzzy search" can refer to many different things... I'd be happy to say more if you shared more of your plan. :-)

[2020-06-24 13:49] mre commented on #118
Sure, sorry. [Here](https://endler.dev/2019/tinysearch/)'s a writeup. It's basically using a bloom filter now but only full words can be searched. What I like to have is an optional, alternative engine that could provide prefix matches and "typo correction" (e.g. configurable Levenshtein). From what I can tell, all of this is supported by fst and it was recommended to me by two independent people,

[2020-06-24 13:58] BurntSushi commented on #118
I guess what I meant was, what specifically would be the keys in your FST? I see your JSON file, but there are many different things there. Is it every word in the `body` field? Ever 3-gram in the `body` field? And what are the values that your keys map to?

Either way, it's hard for me to say up front. Just think of an FST as a finite state machine. If there are a lot of common prefixes or suffix

[2020-06-24 14:39] mre commented on #118
Okay, I see. The `body` field gets sanitized by removing non-alphabetic characters and lowercasing every word. Right now, this is what gets ingested into the bloom filter. I'd like to try fst and a 3-gram of the sanitized body to begin with and see how the package size changes if we go from a 3-gram to a 4-gram for example.

From my prior tests, I found that there are indeed a lot of common prefix

[2020-06-24 14:43] BurntSushi commented on #118
Great! Would love to hear how it goes and bounce more ideas around.

[2020-06-24 14:44] mre commented on #118
Thanks for the quick response and the encouragement. Stay tuned for updates.

[2020-06-29 00:25] mre opened #119 "Highlight matched keywords in search results"

[2020-06-29 19:58] lord-re commented on #111
I had the same issue, i had to up the value to 26 to make it work with a 2MB json.

[2020-06-30 10:58] mre commented on #111
@lord-re can you try with 64 and comparing the sizes of the output wasm? If it's not much of a difference, I'd make that the default for now.

[2020-06-30 13:29] lord-re commented on #111
Going from 26 to 64 the produced files go from 780KB to  868KB.

[2020-06-30 13:31] fluential commented on #111
@lord-re can you compare also `gzip -9` sizes?

[2020-06-30 13:31] lord-re commented on #111
On which files ? all of them ?

[2020-06-30 13:35] lord-re commented on #111
value | uncompressed | gzipped
    26  |             780KB | 456 KB
     64 |             868KB | 472 KB

[2020-06-30 13:36] fluential commented on #111
@lord-re just the `*.wasm` thanks!

[2020-06-30 14:48] lord-re opened #120 "Search results seems a bit random"
I'm evaluating Tinysearch for my hugo blog.
I built the json by tweaking a little bit the example given and compiled tinysearch from git.

I installed it [here](https://lord.re/tinysearch/demo.html) for now so you can try it.
The index is [here](https://lord.re/index.json) if you want to find something in here :-)

  - It finds results from words which doesn't exist at all ( try "xugn.ui").
  - It

[2020-06-30 15:47] mre commented on #120
Thanks for the report and for working on the integration.

This can happen because the data structure that we use to store words is a Bloom filter and it allows for a number of false positives. The number should be quite low in general, though. Hope that is the case for your.
Keep in mind that tinysearch will try to match all words in a query independently, so false positives also occur because a

[2020-06-30 15:49] mre commented on #111
Yup, I feel the same. Let's bump it to 64 for now.

[2020-06-30 16:14] kvz commented on #111
Would a binary amd64 Linux release with this be in the stars? Would significantly reduce my CI’s complexity :)

Sent from mobile, pardon the brevity.

[2020-06-30 16:25] lord-re commented on #120
Yes i can try tweaking the magic number. Where is it ?

[2020-06-30 17:05] lord-re commented on #120
Ok i didn't realized that was the same setting as in the other issue.
I increased it to 1024 and the results aren't perfect but way better !

The wasm is way bigger too ( 1.1MB) but it compresses very well (to 290KB) so even with very big number it's still usable.
I'll continue increasing it to see if it gets better.

[2020-07-01 18:30] lord-re commented on #10
To implement it in Hugo, you can have a simpler setup :

layout/_default/list.json.json

and config.toml

( if you only put json, you won't build your site and your rss anymore).

It's a bit simpler and doesn't break the site.

[2020-07-01 22:04] mre commented on #10
Nice @lord-re. Much appreciated!
Can you edit the file [here](https://github.com/tinysearch/tinysearch/edit/master/howto/hugo.md) and create a pull request?
I'd merge it on the spot.

[2020-07-02 11:00] mre commented on #111
Sure! Will create a new issue for that.

[2020-07-02 11:01] mre commented on #111
Actually, I think we can use #15 for that.

[2020-07-02 21:29] lord-re opened #123 "Add an option to only generate the wasm"
Now, each time you invoke tinysearch it create many files :

  - package.json
  - tinysearch_engine_bg.d.ts
  - tinysearch_engine_bg.wasm
  - tinysearch_engine.d.ts
  - tinysearch_engine.js

Generating (or cleaning every files except the wasm) only the wasm could be nice to integrate this process in an automated publish workflow.

Maybe another way to see it would be to only create the wasm by def

[2020-07-03 06:37] mre commented on #123
Good point! I like that idea.
There could be a `tinysearch build`, which only builds the wasm and a `tinysearch init`, which initializes the project and generates the other files, too. 🤔

[2020-07-08 09:06] vishalsodani opened #126 "Consider replacing failure crate with anyhow or thiserror ?"
The author of `failure` himself says so here https://internals.rust-lang.org/t/failure-crate-maintenance/12087/3.

[2020-07-08 13:28] mre commented on #126
Sure! Great idea. Would you like to do the migration and send me a pull request? Have a bit too much on my plate at the moment. 😅 🍝

[2020-07-08 13:37] vishalsodani commented on #126
Sure.

[2020-07-08 17:39] vishalsodani opened #128 "Consider replacing structopt with argh crate ?"
This change will reduce the number of dependencies.

[2020-07-09 09:49] mre commented on #128
Perfect. I'm all for it. 🏴‍☠️ Can you create a PR like last time? 😉

[2020-07-09 15:30] vishalsodani commented on #128
@mre I have linked my attempt. One issue that I am facing is that I have to use --index as argument to make it work like this
    `./target/debug/tinysearch --index fixtures/index.json`.
But,
     `cargo run fixtures/index.json` does not work.

[2020-07-09 15:35] mre commented on #128
It should be ```cargo run -- fixtures/index.json```
(Mind the `--`, which separates the cargo args from the tinysearch args)

[2020-07-09 15:39] vishalsodani commented on #128
Cool. So, this works `cargo run -- --index fixtures/index.json`

[2020-07-09 15:42] mre commented on #128
Side-note, does argh support subcommands? E.g. `tinysearch build ...` and `tinysearch deploy ...`?
Considering to use something like that in the future.

[2020-07-10 02:42] vishalsodani commented on #128
Yes, subcommands are supported.

[2020-07-10 08:12] mre commented on #128
Change by @vishalsodani merged. Closing this now. 🎉

[2020-07-10 08:12] #128 closed

[2020-07-14 19:26] lemire commented on #64
They should!!!

[2020-07-15 05:10] mre commented on #64
Oh sweet. Hearing that from the author of XorFilters is very motivating. I'll put that on the shortlist for the next round of tests I'll do. Thanks for feedback!
(Big fan of your work here btw.)

[2020-07-29 11:43] quangloc1993 commented on #111
I resolve the problem NotEnoughSpace,
But how can i custom return value? In my case, my post contain keywords, description, and i want search result contains those values, how can search return with those value?

[2020-07-29 11:48] Lusitaniae commented on #111
@quangloc1993 see https://github.com/tinysearch/tinysearch/issues/116

[2020-07-30 04:31] quangloc1993 commented on #111
@Lusitaniae how can we run it in old version browser, edge and IE, any solution?

[2020-07-30 05:06] Lusitaniae commented on #111
@quangloc1993 Better create a new issue regarding that

This project is mostly about generating the search database using rust/wasm, there's only a very basic example of usage.

If you need supporting older browsers, you may need to investigate it yourself...

But let's start with making new issue :+1:

[2020-07-31 03:49] quangloc1993 commented on #111
@Lusitaniae  can we sort the searrch results, from the best mach to lower?

[2020-07-31 04:03] Lusitaniae commented on #111
@quangloc1993 please look at existing issues or create a dedicated issue.

https://github.com/tinysearch/tinysearch/issues/120

[2020-08-11 21:10] Ninjani commented on #10
Hello! Figured this out for Pelican to add to our website.

You need a `templates/json.html` file with:
[code]

and a `json.md` file in your `content/pages` folder with
[code]
Then, after running `pelican content`, `tinysearch --path output output/pages/json.html` builds the index.

Shall I make a PR?

[2020-08-11 21:46] mre commented on #10
Nice! PR would be very welcome. 😊

[2020-08-12 21:51] mre opened #134 "Rename project?"
Was thinking a lot about the project name lately.
I picked it, because it felt like an obvious name for a... tiny search.

Now I have my doubts:
* Not the the most creative of names.
* Is it tinysearch or tiny-search or tiny_search on crates.io?
* It's kinda tedious to type out. Shorter is better.

Was thinking of something short and snappy.
The two candidates I have in mind right now are **ty** (

[2020-08-12 21:56] fluential commented on #134
Well it depends if the goal is to be useful in a short way then shortest would be my pick.

If it's just cosmetics choose whatever resonate with you the most, trust your inner guidance :)

[2020-10-02 12:08] jorgelbg commented on #134
I was giving this a bit of thought to this and I was thinking on `tny` because it sounds like `tiny`/`teeny` but you save 1/2 characters in the process 🤔 also:  https://getyarn.io/yarn-clip/0be79837-c0e6-44ac-9dbd-13c69204ead1#j2yUtYzapeC.copy 😂

[2020-10-02 13:14] mre commented on #134
I like it.

[2020-10-02 13:17] fluential commented on #134
Sounds better yeah

[2020-10-10 01:21] mre commented on #126
Whoops, forgot to close this issue. Thanks for your work @vishalsodani. ⭐

[2020-10-10 01:21] #126 closed

[2020-10-13 11:24] mre opened #136 "Benchmark against competition"
People are interested in a size-comparison between
* tinysearch
* lunr.js
* elasticlunr
* flexsearch
* fuse.js

If anyone wants to do a comparison, post a comment here.
Some ideas:
* Use an open dataset, e.g. Shakespeare texts https://shakespeare.folger.edu/download/
* Create a size histogram of the results that we can include into the README.
* Add the code to the repository under a `bench` folde

[2020-10-21 12:43] felipe-fg commented on #117
Hey, @mre.

I'd like to try this issue for Hacktoberfest.

I was thinking about changing [this field](https://github.com/tinysearch/tinysearch/blob/master/bin/src/index.rs#L7) to `Option<String>` and then [filter here](https://github.com/tinysearch/tinysearch/blob/master/bin/src/storage.rs#L47) posts that contains a body content. That way, only title will be [added here](https://github.com/tinysea

[2020-10-21 13:10] mre commented on #117
Yes, go for it. It's a good approach. 👍 Assigning to you @felipe-fg. Have fun.

[2020-10-22 09:54] #117 closed

[2020-10-26 21:17] mzalevski commented on #134
imho `tny` > `ty` > `ivy` > `tinysearch`; `ty` is nice, but kinda awkward for me coz it means "you" in Polish :sweat_smile: maybe; also if we want the name to be truly tiny we could go with `tn` both i and y are vowels

[2020-10-26 21:23] wparad commented on #134
Please don't make the name short to try to be funny. Descriptive names are so much better.

[2020-10-26 22:03] mzalevski commented on #134
@wparad fair point, but there seems to some generic awkwardness to `tinysearch`. Maybe we could do better. On that note, maybe descriptive, but different, e.g. `bloom-search` as in "Writing a full-text search engine using Bloom filters" (the inspiration article for the project).

[2020-10-26 22:11] mre commented on #134
@wparad I mentioned some reasons in the first comment.

Especially the last two points are concerning me.
Then again I'm not 100% convinced anymore that they warrant a rename. :/

[2020-10-26 22:41] wparad commented on #134
Oh definitely :+1: for the rename and naming consistency, just don't call it `ty`. `search` seems like an important word to have, outside of that though, I don't have any good suggestions.

[2020-12-30 10:38] kvz commented on #15
Not having a binary release is causing some friction when onboarding if you do not have rust experience or a rust dev env set up. If the goal is adoption, this would be a good one to tackle imho.

[2021-01-06 23:01] notpushkin commented on #15
Looks like we have [CI up and running](https://github.com/tinysearch/tinysearch/actions), just no nightly releases are being uploaded. Also there's the [tinysearch/cli](https://hub.docker.com/r/tinysearch/cli) image on Docker Hub, but it's outdated because the Docker Hub fails to build the image for some reason:

![image](https://user-images.githubusercontent.com/1298948/103827701-a4787a00-508a-11

[2021-02-16 15:54] suppadeliux opened #138 "building docker image gives error from wasm-pack in step 19/28"
Hello,

I am trying to test the docker but when running  `docker build --build-arg RUST_IMAGE=rustlang/rust:nightly-alpine -t tinysearch/cli:nightly .`

at step 19 from 28, the build stops with the error =>

[code]

I tried with others docker images like `docker build --build-arg WASM_BRANCH=master --build-arg TINY_MAGIC=64 -t tinysearch/cli .` or other solutions from this thread => `https://githu

[2021-03-07 20:00] johnmathews commented on #138
I have this problem too. Any suggestions would be appreciated.

[2021-03-09 05:19] ryanseddon commented on #138
I ended writing my own Dockerfile after having issues with this one:

[code]

[2021-03-09 11:35] johnmathews commented on #138
@ryanseddon would you make a pull request for this?

[2021-03-09 11:53] johnmathews commented on #120
Perhaps changing the default value of TINY_MAGIC to 1024 would be an improvement for most people. I found the results to be much more intuitive, and the compressed wasm is not too large.

[2021-03-18 00:16] mre commented on #138
Hey y'all. Thanks for your patience.
@johnmathews fixed that in #139. Should be in `master` now. Let me know if you still run into issues. We can reopen the issue then.
Thanks everyone for helping each other out here. Much appreciated.

[2021-03-18 00:16] #138 closed

[2021-03-18 00:17] mre commented on #138
Oh yeah, and if anyone is using tinysearch for a project, please create a PR to add a link to the `README.md`. There is a "users" section there. Would love to add a backlink to your project.

[2021-03-18 11:46] mre commented on #120
@johnmathews I'd accept a PR for that.

[2021-03-18 11:48] mre commented on #120
If someone finds the time, I'd really love to see how https://github.com/ayazhafiz/xorf compares to the cuckoo filter. Perhaps we won't need to deal with the magic number quirk in the future when switching to that.

[2021-04-27 18:27] pabloa opened #140 "Could tiny search run in IOS and Android WebView browsers?"
Could tiny search run in IOS and Android WebView browsers?

[2021-04-27 18:39] pabloa commented on #140
it does.

[2021-04-27 18:39] #140 closed

[2021-06-06 21:31] soyuka commented on #111
I ran into that as well and probably the simple way to handle this is to cut the body, for example with hugo:

[code]

it won't be as accurate ofc. Best would be to find a way to remove the code from the `.Plain` but that looks harder.

[2021-06-25 00:16] kapilt commented on #134
Fwiw this was the top hit for me on a Google search for wasm website search

[2021-08-19 16:26] mre commented on #120
At long last I found some time to port the project over to xorf.

The results are great!
* 20-25% smaller wasm size: The test index is 99kB now, 49kB gzipped, 40kB brotli
* Faster initial compilation time thanks to fewer dependencies.
* No more `TINY_MAGIC`. The Xor filter doesn't run into this problem.

Changes got merged into master if anyone wants to give it another try.
Gonna close this, but f

[2021-08-19 16:26] #120 closed

[2021-08-19 16:33] mre commented on #140
Nice! If you want some promotion for your app, feel free to create a PR to mention it in the `README.md`. There is a users section in there.

[2021-08-19 16:37] mre commented on #64
Xor filters are great!

20-25% smaller wasm size: The test index is 99kB now, 49kB gzipped, 40kB brotli.
(Keep in mind that this was already highly optimized before.)
@lemire fyi.

The version in `master` was ported to Xor filters now.
Closing this. 🥳

[2021-08-19 16:37] #64 closed

[2021-08-19 16:41] mre commented on #111
This bug should now be fixed in `master`.
I ported tinysearch over to Xor filters.

* 20-25% smaller wasm size: The test index is 99kB now, 49kB gzipped, 40kB brotli.
(Keep in mind that this was already highly optimized before.)
* Faster initial compilation time thanks to fewer dependencies.
* No more `TINY_MAGIC`. The Xor filter doesn't run into this problem.

Along the way I cleand up the custom

[2021-08-19 16:41] #111 closed

[2021-08-19 16:42] #19 closed

[2021-08-19 16:45] mre commented on #12
After the recent updates compile times should no longer be a big problem. I see around 20-25 seconds on a fresh build.
This is thanks to a reduction in dependencies, less usage of macros, and wasm-pack and Rust compiler improvements. 😊

[2021-08-19 16:45] #12 closed

[2021-08-19 16:53] lord-re commented on #120
I can confirm that it works well and the index is smaller whereas my json growed a little bit.
It came from 1.2M to 392K uncompressed or 319K gzipped to 281K gzipped.

Nice work ;-)

[2021-08-19 21:27] mre commented on #120
Thanks for the feedback @lord-re. 😊

[2021-09-09 10:58] ibnishak opened #147 "Error: No such file or directory (os error 2)"
OS: ArchLinux
Tinysearch version: Tried 0.6.2 and 0.6.0

What I did
- Installed wasm-pack, terser, binaryen, and finally tinysearch
- copied the given example file to index.json
- ran the following variations of commands

[code]

All of them gave the following output

[code]

Kindly advice as to what other info would be useful

[2021-09-09 11:26] mre commented on #147
Huh, it looks like the engine is not statically included inside the tinysearch binary. Maybe I broke something during the last release... 🤔

[2021-10-05 22:53] blackary commented on #147
Any updates on this?

[2021-11-03 10:14] siuying commented on #147
@mre I saw same error messages when installing the cargo. When building from source, I see error message `Error: failed to run "wasm-pack"`, and later `Error: wasm32-unknown-unknown target not found`. After I install both I can use this copy of tinysearch, but if I reinstall tinysearch from cargo I'd still get the same error.

[2021-11-29 17:50] expilo commented on #147
Same issue here.
OS: Ubuntu 21.10
wasm-pack 0.10.1
tinysearch 0.6.2

[2021-12-08 18:20] AlexMikhalev commented on #147
Bump:
[code]
tinysearch from master git log -1
[code]

wasm-pack 0.10.1
Ubuntu 21.10 (PopOS!)
binaryen is version (91-1) from apt.

[2021-12-23 01:22] blakehawkins commented on #147
0.6.2 release is not working for me either, but current head of master branch works

I think that this fixed it:

https://github.com/tinysearch/tinysearch/compare/v0.6.2...master#diff-322926ac8e657483f4af4b17984587cd911be04cdf671ecf5aac209867992c06R93

@mre I recommend to make a new cargo release 0.6.3

[2021-12-29 02:28] mre commented on #147
Oh! Sorry, I forgot to release 0.6.3 with the patch. Apologies.
Released [v0.6.3](https://github.com/tinysearch/tinysearch/releases/tag/v0.6.3) now. Also added some pre-built binaries to make installation a little easier and quicker. If anyone could test it and report back that would be very helpful. At least on my homepage it works with that version.

[2022-01-03 00:26] blakehawkins commented on #147
0.6.3 is not working for me:

[code]

Is it possible that the cargo publish release is missing this binary data? https://github.com/tinysearch/tinysearch/blob/4343d551eea25adedd1ddfb736c40dafc399f3dd/bin/build.rs#L7

I don't see any of https://github.com/tinysearch/tinysearch/blob/d58e8ff67f7a5abd02b4893d641f3d7983c6861d/bin/src/main.rs#L48

[2022-01-04 08:35] expilo opened #149 "Too many false positives"
I guess I have pushed capabilities of tinysearch to the limits. The site I'm indexing is by no means tiny. It's over 1700 pages albeit with very little text. The compiled wasm binary is 343k . Amazingly it still works very fast, though in case of some queries I'm getting a lot of false positives, like  over 50%. I was wondering if it might be possible to make it more precise at the cost of a large

[2022-01-05 19:48] expilo opened #151 "Error: failed to execute "wasm-pack" "build""
When trying to build nightly with `docker build --build-arg RUST_IMAGE=rustlang/rust:nightly-alpine -t tinysearch/cli:nightly .` I'm getting the following error:
[code]
In spite of the message no report file was generated at `tmp/report-2ec64b30-c702-4581-a790-5d71fb2f66fe.toml`

[2022-01-07 12:04] mre commented on #151
I think this is another variant of https://github.com/tinysearch/tinysearch/issues/147, which I thought I fixed with 0.6.3, but I didn't. Still trying to figure out what's going on.

[2022-01-07 12:15] mre commented on #147
Could be, yeah. Reading through the source code of `includedir`, it writes the output to an `out_file`:
https://github.com/tilpner/includedir/blob/6a81c906e233649af1acec9835fe0a034b9274e2/codegen/src/lib.rs#L118-L149
Limited time right now, but maybe this file has to be included somewhere to make it into the release build?

At least the pre-built binary seems to work for my blog:
https://github.co

[2022-01-07 12:28] mre commented on #147
This is where it fails for you:
https://github.com/tinysearch/tinysearch/blob/18b0dc5d86902ac5e3266ca1dfa6787e54666663/bin/src/main.rs#L93-L102

It tries to unpack the engine code and if that directory doesn't exist after that, it means there was an error.

So I wonder what's above
[code]

in your output. This is where it unpacks the engine code and prints the path.
Is this running locally or insi

[2022-01-10 00:01] Cokemonkey11 commented on #147
@mre thanks for taking a look.

It's just:

[code]

Local.

The temp directory doesn't exist, but /tmp/ is writeable:

[code]

The weird thing for me is still that there are none of these:

https://github.com/tinysearch/tinysearch/blob/d58e8ff67f7a5abd02b4893d641f3d7983c6861d/bin/src/main.rs#L48

[2022-01-10 00:03] blakehawkins commented on #147
@mre thanks for taking a look.

It's just:

[code]

Local.

The temp directory doesn't exist, but /tmp/ is writeable:

[code]

The weird thing for me is still that there are none of these:

https://github.com/tinysearch/tinysearch/blob/d58e8ff67f7a5abd02b4893d641f3d7983c6861d/bin/src/main.rs#L48

[2022-01-18 09:10] mre commented on #149
Can you try to compile the version from `master`? We recently switched to XOR filters, which might give you a better false-positive rate. The Docker image is not updated to the newest version yet unfortunately.

[2022-01-18 12:21] expilo commented on #149
I managed to compile but still the old error, which forced me to use docker image, persists. When I try tu run `tinysearch index.json` I'm getting only

Unpacking tinysearch WASM engine into temporary directory "/tmp/.tmppr7ORB"
Starting unpack
Copying "../engine/src/lib.rs"
Copying "../engine/Cargo.toml"
Copying "../shared/.gitignore"
Copying "../engine/.gitignore"
Copying "../shared/src/lib.rs"

[2022-01-19 20:04] keyneom commented on #147
I'm running into the same issue locally:
[code]

[2022-01-22 21:46] expilo commented on #151
You made me start learning rust, which I did not plan :) It seems tinysearch fails on the line
`fs::rename("storage", engine_dir.join("storage"))?;`

[2022-01-23 08:11] expilo commented on #151
OK, I guess I have found the reason:

[code]

Indeed, my "/tmp" directory is on a different mount point.

[2022-01-23 10:30] expilo commented on #151
So I have to run tinysearch on the same partition that `/tmp` is on. Then I can compile index.json fine.

[2022-01-23 10:32] expilo commented on #149
I managed to compile the 0.6.3 version but it did not help. Still getting the same false positives as with version 0.6.2

[2022-01-23 15:43] expilo commented on #149
As I wrote in the comment to #151 I was finally able to overcome this problem by compiling and running tinysearch in /tmp directory. The resulting wasm binary gives better search results although I am still getting false positives. Xorf crate has got a lot of other filters which give better false positives ratio. Would it be possible to implement them as well, or at least one of them and give user

[2022-01-29 23:48] dertuxmalwieder commented on #10
Doing that generates a `public/index.json` which contains an empty list. Why?

[2022-01-29 23:59] dertuxmalwieder opened #152 "Error: Engine directory could not be created"
Trying to run tinysearch on Windows 11 (with a Hugo blog):

[code]

This is a quite incomplete error message in my opinion...

[2022-02-06 15:28] WaylonWalker commented on #152
I get a very similar issue on Ubuntu 21.10 with my static site.  currently the docker image does work, but installing this cli from cargo is not working.

![image](https://user-images.githubusercontent.com/22648375/152688166-b32d99c0-04b7-4e42-82ae-a5a8448b4365.png)

[2022-03-15 15:43] shijunti19 opened #153 "bug"
let engine_dir = temp_dir.path().join("engine");
    if !engine_dir.exists() {
      fs::create_dir_all(&engine_dir)?;
    }
    if !engine_dir.exists() {
        for path in fs::read_dir(out_path)? {
            println!("Name: {}", path.unwrap().path().display())
        }
        bail!(
            "Engine directory could not be created at {}",
            engine_dir.display()
        );
    }

[2022-03-15 15:58] mre commented on #153
Thanks @shijunti19,
can you create a pull request for that?

[2022-03-15 23:57] #153 closed

[2022-03-25 01:23] MagentaPuppy commented on #152
I also get this same error

[2022-03-25 08:30] mre commented on #152
Can somebody try if this change fixes the problem?
https://github.com/tinysearch/tinysearch/issues/153
I don't have time to this this right now.

[2022-03-25 08:37] mre commented on #152
I created a pull request here: https://github.com/tinysearch/tinysearch/pull/154.
If someone could test this and report back I'd be very thankful.

[2022-03-25 08:37] mre commented on #147
I created a pull request here: https://github.com/tinysearch/tinysearch/pull/154.
If someone could test this and report back I'd be very thankful.

[2022-03-25 08:37] mre commented on #151
I created a pull request here: https://github.com/tinysearch/tinysearch/pull/154.
If someone could test this and report back I'd be very thankful.

[2022-04-11 12:11] lspdrz opened #155 "Update Cargo build for tinysearch"
The ```tinysearch fixtures/index.json``` command in the "Usage" section of the readme isn't working. I think this is because the Cargo build for tinysearch hasn't been changed since the fix in this PR: https://github.com/tinysearch/tinysearch/pull/154.

When I ran the local project using ```cargo run fixtures/index.json```, the generation worked as expected.

[2022-05-01 21:19] Jieiku commented on #136
Awesome idea. I currently use Zola for my blog, it seems to come with elasticlunr, I am in the process of trying to evaluate which solution is lightest.

[2022-05-04 19:59] Jieiku opened #157 "Does tinysearch support stemming, stopwords, and CJK?"
Does tinysearch support CJK languages? (Chinese, Japanese, and Korean)

Also what about stemmers and stopwords?

I am interested in using tinysearch for Zola. I proposed it here: https://github.com/getzola/zola/issues/1849

It was mentioned that there may not be specific stemmers/stopword lists for languages other than English?

I was reading over this https://endler.dev/2019/tinysearch/ and I see

[2022-08-01 22:24] Jieiku commented on #152
I have started implementing tinysearch into the abridge theme: https://github.com/Jieiku/abridge/tree/tinysearch

I still have this error, my OS is Manjaro KDE, here is the full routine:

[code]

result:
[code]

[2022-08-04 01:51] Jieiku opened #159 "Is there a way to return the page description or body in the results?"
How difficult would it be to also return the page description in the results?

I have been implementing tinysearch into the [abridge zola theme](https://github.com/Jieiku/abridge).

here is a demo using tinysearch: https://jieiku.github.io/abridge-tinysearch/

here is the normal demo which is using elasticlunr (zola's default): https://abridge.netlify.app/

abridge tinysearch branch:  https://gith

[2022-08-04 02:59] Jieiku commented on #159
I was reading over some issues such as https://github.com/tinysearch/tinysearch/commit/39dbaba2b7c56e04b329041d50be369b67324da4

apparently the body is in the json index, just not sure how to fetch it...

https://github.com/Jieiku/abridge/blob/dac0392b3c4f0f377029beefb03e11d576acca66/static/tinysearch.js#L54-L85

[2022-08-04 07:33] mre commented on #159
Great progress so far. The problem is that tinysearch stores the body as a Bloomfilter (XOR filter to be precise), which allows you to query if a word is contained in an article or not but it never returns the full body. That's the trick that makes tinysearch so tiny.

That said, we could consider extending the tinysearch input format to also take an optional field for each article which would be

[2022-08-04 16:50] Jieiku commented on #159
I am not sure how much it would kill the small size of tinysearch, but if it can be added as an optional field that would be great!

I am planning to fully implement tinysearch and stork so that they can be directly compared against one another, if they cannot all do the same thing then it is not really an apples to apples comparison.

For Tinysearch I can include the results with and without a re

[2022-08-05 01:29] Jieiku commented on #159
If we used the short description then it would probably keep tinysearch small enough and still provide some more info in the results.

[2022-08-05 17:58] mre commented on #159
The beauty of the optional field is that it's zero overhead: users don't pay for it if they don't use it. On top of that, if it gets used then a user can still decide what to put in there and how long the content may be, thus controlling the overhead.
Let's go with `meta` then. 👍

[2022-08-06 00:34] ardeaf commented on #152
Yes, installing from the git master branch works perfectly. No issues.

[2022-08-06 02:00] ardeaf commented on #159
My workaround was to extract the slug from the url in js and then get whatever data i need from my posts once i have that. Is that too slow for you?

[2022-08-06 05:54] Jieiku commented on #159
Hello @ardeaf

So you are building a description by having your javascript access the matching pages to pull that data? That would be a bit slower, maybe not by much. I would also be able to use the full body with the makeTeaser though which is nice.

Could you share your code for this solution? I am sure I could adapt it without much trouble.

[2022-08-06 15:26] Jieiku commented on #159
The more I think about it, the more I think that a meta option is the better solution.

[2022-08-06 22:22] mre commented on #152
Released fix on crates.io, so no need to use the git master anymore. 🎉 Thanks for the feedback.

[2022-08-06 22:22] #152 closed

[2022-08-06 23:52] ardeaf commented on #159
My page that has tinysearch on first load grabs all the metadata from all the posts I have on my website and puts it in a prop for the page. When tinysearch returns the results it just filters through and displays the matches in their own components.

Here is the entire page:

[code]

[2022-08-07 20:25] Jieiku commented on #159
Thanks for posting your solution ardeaf, so your BlogProps data is basically a second index.

Because I am using a static site generator, I would really prefer to build the index ahead of time with the rest of the site.
I am thinking I would like to use the optional meta field as discuessed.

@mre have you done any work yet with implementing the optional meta field?

I am now done with the prelimi

[2022-08-07 20:27] mre commented on #159
No work was done yet. Feel free to give it a try if you like. Thanks! 🙏

[2022-08-07 20:27] Jieiku commented on #159
Thanks for the quick response, I will give it a try.

[2022-08-08 18:38] Jieiku commented on #159
I am very new to rust, This seems to be a hashmap within a hashmap?

so a hashmap of `title : url` within a hashmap that is `title+url : body` (is my understanding correct?)

My thought is to switch from using a hashmap to a vec.

// prepares the files in the given directory to be consumed by the generator
pub fn prepare_posts(posts: Posts) -> HashMap<PostId, Option<String>> {
    let mut prepared

[2022-08-08 20:59] Jieiku commented on #159
I added the meta field (still need to make it optional): https://github.com/Jieiku/tinysearch/commit/587bc849ff109a520fd11dc55b2cb7270219eb64

Here is the changes I made for the zola macro:

[code]

It works great: https://jieiku.github.io/abridge-tinysearch/

![tinysearch-meta](https://user-images.githubusercontent.com/106644/183513372-2ce01f0c-9f18-43cb-9743-35c78a493fb9.gif)

[2022-08-08 21:19] Jieiku commented on #159
What would you suggest for making the meta field optional? There are probably a few ways to go about it, such as if the field is missing then use an empty string, but being new to rust I am wondering what the best way would be.

I am researching and thinking of ideas, so I might come up with something on my own, but curious what you think.

[2022-08-08 21:22] Jieiku commented on #159
I should have this finished shortly it seems making the field optional might be easier than I thought.

[2022-08-08 23:30] Jieiku commented on #149
@expilo how were you able to tell that the xorf crate gave you better ffalse positives ratio? did you implement it locally?

[2022-08-13 18:22] amousset commented on #151
On 0.6.4 I get:

[code]

which is not exactly the same error but looks close.

[2022-08-14 19:46] Jieiku commented on #119
I implemented this, you can see it live here (search for zola): https://jieiku.github.io/abridge-tinysearch/

https://github.com/Jieiku/abridge/blob/830cabab1f638052a8c4ac39eb86370da5a676eb/static/tinysearch.js#L57-L92

[2022-09-19 20:10] ms-ati commented on #151
I have the same error as just above ☝🏻 also using 0.6.4

[2022-09-27 16:20] #159 closed

[2022-10-02 15:10] leonhfr opened #162 "Github action"
Hi! I'm using Github actions to build and deploy a website, and I thought it'd be cool to integrate tinysearch. I didn't find any github action to do that so I made one: https://github.com/marketplace/actions/tinysearch-action It's a simple wrapper of the docker image.

I use it in https://github.com/leonhfr/blog to build the wasm, though the search is still pending theme integration.

Just though

[2022-10-02 15:53] mre commented on #162
Wow, this is pretty nice. Great work!
If you like we can mention it in the `README.md`. Feel free to create a PR. 😉

[2022-10-02 17:12] leonhfr commented on #162
Thanks! I created on in https://github.com/tinysearch/tinysearch/pull/163 😄

[2022-10-02 17:12] #162 closed

[2022-10-05 12:51] mre commented on #159
@Jieiku, would you be interested in co-maintaining the project? I'd need some help with the release management and you have more than what it takes. It's probably not a lot of work either. Please reach out in case you'd be interested and I can add you to the repo.

[2022-10-05 15:25] Jieiku commented on #159
Sure! Happy to help.

[2022-10-09 18:49] ms-ati opened #164 "Please tag release 0.7.0"
Hi! Can you please add the tag v0.7.0 to point to https://github.com/tinysearch/tinysearch/commit/5d98c355e4f6a0e8c7f67e5764cd0322883ecdef ?

This would enable bumping the Homebrew formula to the latest version! Thank you!

[2022-10-09 21:39] ms-ati opened #165 "Failing to find Cargo.toml in temp directory?"
After struggling mightily with tinysearch installed via Homebrew and direct downloads, this one was installed via `cargo install tinysearch`, `cargo install wasm-pack`

Help please, I am still stuck :(

Why is `tinysearch`'s invocation of `wasm-pack` looking for a `Cargo.toml` file in the temp directory it created?

[code]

[2022-10-10 12:35] mre commented on #164
There we go: https://github.com/tinysearch/tinysearch/releases/tag/v0.7.0

[2022-10-10 12:36] mre commented on #164
Not sure if it worked so give me some feedback once you get the chance. Thanks a lot for the reminder @ms-ati. ✌️

[2022-10-10 14:30] mre commented on #165
The engine code gets extracted into a temp dir. It's just another cargo project that gets compiled with wasm-pack. That's why the `Cargo.toml` is needed. Looks like the `Cargo.toml` isn't properly included in the binary for some reason.

https://github.com/tinysearch/tinysearch/blob/14ef25ca7ec04566f259cc1baabd7e220dd4cfe7/bin/src/main.rs#L18-L20

I thought we fixed that already.

[2022-10-10 14:33] ms-ati commented on #165
Hi @mre thanks for all this work. Would you be interested if I were to contribute Github Action tests which would provide regression testing against these issues, by fully building and running and verifying on each PR? Apologies if this exists but is in some way not yet sufficient coverage, I’d also be happy to help address in that case as well.

[2022-10-10 14:37] mre commented on #165
Yeah that would be nice. Sorry for the limited availability at the moment, but your help would be much appreciated.
@Jieiku fyi. Not sure if you could look into that.
The Github action (https://github.com/leonhfr/tinysearch-action) is maintained by @leonhfr.

[2022-10-10 19:40] ms-ati commented on #164
Looks good to me! In the future, it looks like you are actually set up to **automatically publish to crates.io** just by pushing a tag that starts with `v*` such as `v0.7.0 -- so as you can see, parts of the Github Actions pipeline are failing because on crates.io that version already existed?
https://github.com/tinysearch/tinysearch/actions/runs/3219368851/jobs/5264673312
https://github.com/tinys

[2022-10-10 19:42] ms-ati commented on #134
I would please keep the name `tinysearch`. It is searchable, recognizable, it says what it does, and there are already a lot of references to it.

[2022-10-10 20:13] mre commented on #134
We haven't changed the name in two years and now it's probably too late. I was hesitating because as you said the `search` part is quite for SEO, haha. My favorite is still `tny`, though. 😉

[2022-10-11 20:41] millette commented on #134
My two cents: the name is good as is.

[2022-10-21 19:01] Jieiku opened #166 "For Zola sites, the tinysearch json index gets included in the sitemap.xml file."
For Zola sites, the tinysearch json index gets included in the sitemap.xml file.

https://endler.dev/sitemap.xml

![2022-10-21_11-59-02](https://user-images.githubusercontent.com/106644/197269894-e41cecea-4f24-4c75-be11-ab0b5975f1c8.png)

I found a report here that suggests not rendering the section will resolve the issue, but that does not seem to be the case for me: https://github.com/getzola/zo

[2022-10-23 23:53] mre commented on #159
@Jieiku your mail address keeps failing. Wanted to send you the crates.io credentials. Can you tell me your crates.io username so I can add you?

[2022-10-24 02:10] Jieiku commented on #159
I did not realize crates.io was directly tied to github. I updated my email in github so it should work now.

[2022-10-24 08:35] mre commented on #159
Invite to the repos sent